<h2>ログイン</h2>

<%= form_with url: login_path, scope: :session do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "ログイン" %>
  </div>
  <%= link_to "ユーザー新規登録", new_user_path %>
<% end %>