<h2>アカウント設定変更</h2>

<%= render "shared/error", obj: @user %>

<%= form_with model: @user do |f| %>
  <ul>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
    <li><%=f.label :password, "新しいパスワード" %></li>
    <li><%= f.password_field :password, placeholder:"変更しない場合、何も入力しないでください" %></li>
    <li><%=f.label :password_confirmation, '新しいパスワード（確認）' %></li>
    <li><%= f.password_field :password_confirmation, placeholder:"変更する場合、パスワードを再度入力してください" %></li>
    <li><%=f.label :current_password, '現在のパスワード' %></li>
    <li><%= f.password_field :current_password, placeholder:"現在のパスワードを入力してください" %></li>
    <li><%= f.submit "変更" %></li>
  </ul>
<% end %>
