<h2>ユーザー登録</h2>

<%= render "shared/error", obj: @user %>

<%= form_with model: @user do |f| %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
    <li><%=f.label :password %></li>
    <li><%= f.password_field :password, placeholder:"6文字以上入力してください" %></li>
    <li><%=f.label :password_confirmation, 'パスワード（確認）' %></li>
    <li><%= f.password_field :password_confirmation, placeholder:"パスワードを再度入力してください" %></li>
    <li><%= f.submit "新規アカウント作成" %></li>
  </ul>
<% end %>
