<h2>ユーザー詳細</h2>

<%= @user.email %>
<%= @user.password %>
<%= link_to "変更する", edit_user_path(@user) %>

<h2>プロフィール編集</h2>

<%= form_with model: @user, html: { method: :patch } do |f| %>
    <%= f.label :icon_image %>
    <%= f.file_field :icon_image %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :introduction %>
    <%= f.text_area :introduction, size: "30x4" %>
    <%= f.hidden_field :profile, value: "true" %>
    <%= f.submit "更新する" %>
<% end %>

