<div>ルーム画像：<%= @inn.image %></div>
<div>ルーム名：<%= @inn.name %></div>
<div>住所：<%= @inn.adress %></div>
<div>料金：<%= @inn.price %></div>
<div>登録日：<%= @inn.created_at %></div>

<%= link_to "編集する", edit_inn_path(@inn) %>
