<h2>ルーム予約</h2>

<%= render "shared/error", obj: @reservation %>

<%= form_with(model: @reservation, local: true, url: confirm_reservations_path(@reservation)) do |f| %>
  <%= f.label :start_time %>
  <%= f.date_field :start_time %>
  <%= f.label :finish_time %>
  <%= f.date_field :finish_time %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.hidden_field :inn_id, value: @inn_id %>
  <%= f.submit "確認画面へ" %>
<% end %>
