<h2>ルーム予約</h2>

<%= render "shared/error", obj: @reservation %>

<%= form_with(model: @reservation, local: true, url: confirm_reservations_path(@reservation)) do |f| %>
  <ul>
    <li><%= f.label :start_time %></li>
    <li><%= f.date_field :start_time %></li>
    <li><%= f.label :finish_time %></li>
    <li><%= f.date_field :finish_time %></li>
    <li><%= f.label :number %></li>
    <li><%= f.number_field :number, placeholder:"人数を入力してください（半角数字）" %></li>
    <li><%= f.hidden_field :inn_id, value: @inn_id %></li>
    <li><%= f.submit "確認画面へ" %></li>
  </ul>
<% end %>
<li><%=  link_to "ルーム詳細画面に戻る", inn_path(@inn_id) %></li>
