<h2>予約済みルーム詳細</h2>
<% if @reservation.inn.image.present? %>
  <li><%= inn_image @reservation.inn %></li>
<% else %>
  <li>画像なし</li>
<% end %>
<li>ルーム名：<%= @reservation.inn.name %></li>
<li>住所：<%= @reservation.inn.adress %></li>
<li>開始日：<%= @reservation.start_time.to_s(:date_jp) %></li>
<li>終了日：<%= @reservation.finish_time.to_s(:date_jp) %></li>
<li>宿泊日数：<%= "#{how_long_day(@reservation)}泊#{how_long_day(@reservation) + 1}日" %></li>
<li>人数：<%= @reservation.number %>人</li>
<li>合計金額：<%= @reservation.total_price %>円</li>
<li>ルームホスト：<%= link_to "#{@reservation.inn.user.name}", user_path(@reservation.inn.user) %></li>
